<p id="notice"><%= notice %></p>

<% if signed_in? %>
  <%= link_to "Salir", destroy_user_session_path, method: :delete %>

  <div class="contenedor_eventos">

    <div class="fila_eventos">

      <article class="evento">
        <h1>Tarjetas</h1>
      </article>

      <article class="evento">
        <h1>Préstamos</h1>
      </article>

      <article class="evento">
        <h1>Usuarios</h1>
      </article>

      <article class="evento">
        <table>
          <thead>
          <tr>
            <th>Cliente</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>

          <% @requests = Request.all%>
          <% @requests.each do |request| %>
            <% if request.tipo == 0 &&  request.solved == 0 %>
              <% @account = Account.find(request.account_id)%>
            <tr>
              <td><%= @account.name %></td>
              <td><%= link_to 'Aceptar', approve_request_path(request), method: :put, data: { confirm: '¿Seguro que quieres aceptar la creación de la tarjeta?' } %></td>
              <td><%= link_to 'Rechazar', deny_request_path(request), method: :put, data: { confirm: '¿Seguro que quieres rechazar la creación de la tarjeta?' }%></td>

            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </article>

      <article class="evento">
        <table>
          <thead>
          <tr>
            <th>Cliente</th>
            <th>Cantidad</th>
            <th>Meses</th>
            <th>Interes</th>
            <th>Concepto</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @requests = Request.all%>
          <% @requests.each do |request| %>
            <% if request.tipo == 1 &&  request.solved == 0 %>
              <% @loan = Loan.find(request.id_objetivo)%>
              <% @account = Account.find(request.account_id)%>

              <tr>
                <td><%= @account.name %></td>
                <td><%= @loan.amount %></td>
                <td><%= @loan.meses %></td>
                <td><%= @loan.interes %></td>
                <td><%= @loan.concepto %></td>
                <td><%= link_to 'Aceptar', approve_request_path(request), method: :put, data: { confirm: '¿Seguro que quieres conceder el préstamo?' } %></td>
                <td><%= link_to 'Rechazar', deny_request_path(request), method: :put, data: { confirm: '¿Seguro que quieres denegar el préstamo?' } %></td>
                <!--
<td><%#= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </article>

      <article class="evento">

        <button><%= link_to "Dar de Alta", new_account_path %></button>

        <br><br>

        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>Dni</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @accounts = Account.all %>
          <% @accounts.each do |account| %>
            <tr>
              <td><%= account.name %></td>
              <td><%= account.dni %></td>
              <td><%= link_to 'Ver', account %></td>
              <td><%= link_to 'Editar', edit_account_path(account) %></td>
              <td><%= link_to 'Eliminar', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </article>


    </div>


  </div>


  </div>



<% else %>
  <div class="login">
    <h1>Señor@ empleado@, le damos la bienvenida a la web de gestión de iBank.</h1>
    <br>
    <h1><button><%= link_to "Inicia Sesión", new_user_session_path %></button></h1>
    <br>
    <%= image_tag ("assets/images/badge.png") %>
  </div>
<% end %>