<!DOCTYPE html>
<html>
  <head>
    <title>iBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="Cabecera">

    <div class="colorCabecera">

      <div class="logo">
        <img src="/logo.png" alt="logo">

      </div>

    </div>

  </div>

  <%= link_to "Inicio", paginicio_index_path %>

    <%#= link_to "Cuentas", root_path %>
    <%#= link_to "Tarjetas", :cards %>
    <%#= link_to "Préstamos", :loans %>
    <%#= link_to "Inversiones", :investments %>
    <%#= link_to "Solicitudes", :requests %>
    <%#= link_to "Movimientos", :transactions %>
    <%#= link_to "Transferencias", :transfers %>
    <%#= link_to "Empleados", :employees %>




    <%= yield %>
  </body>
</html>
